@model SCRH.Models.Usuario

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Excluir Usuário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <span>
                    <b>Deseja excluir o cadastro?</b>
                </span>
            </div>
            @using (Html.BeginForm("Excluir", "Usuario", FormMethod.Post, new { }))
            {
                @Html.HiddenFor(x => x.UsuarioId)
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nome</label>
                            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Login</label>
                            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Tipo Usuário</label>
                            @Html.TextBoxFor(x => x.TipoUsuario, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            }
        </div>
    </div>
</div>