<div class="logo">
    <a href="@Url.Action("Index", "Home", new{ area = "User"})" class="simple-text logo-normal">
        MENU
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home", new{ area = "User"})">
                <i class="material-icons">dashboard</i>
                <p>Home</p>
            </a>
        </li>
    </ul>
</div>

